[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = kirkstone
[submodule "sources/meta-ti"]
	path = sources/meta-ti
	url = https://git.yoctoproject.org/meta-ti
	branch = kirkstone
[submodule "sources/meta-arago"]
	path = sources/meta-arago
	url = https://git.yoctoproject.org/meta-arago
	branch = kirkstone
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = kirkstone
[submodule "sources/meta-virtualization"]
	path = sources/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
[submodule "sources/bitbake"]
	path = sources/bitbake
	url = https://git.openembedded.org/bitbake
	branch = 2.0
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "sources/oe-core"]
	path = sources/oe-core
	url = https://git.openembedded.org/openembedded-core
	branch = kirkstone
[submodule "sources/meta-yocto"]
	path = sources/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
	branch = kirkstone
[submodule "sources/meta-summit-radio"]
	path = sources/meta-summit-radio
	url = https://github.com/LairdCP/meta-summit-radio.git
[submodule "sources/meta-node-red"]
	path = sources/meta-node-red
	url = https://github.com/ChristophHandschuh/meta-node-red/
[submodule "sources/meta-rauc"]
	path = sources/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = kirkstone
