[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "sources/meta-ti"]
	path = sources/meta-ti
	url = https://git.yoctoproject.org/meta-ti
	branch = scarthgap
[submodule "sources/meta-arago"]
	path = sources/meta-arago
	url = https://git.yoctoproject.org/meta-arago
	branch = scarthgap
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = scarthgap
[submodule "sources/meta-virtualization"]
	path = sources/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = scarthgap
[submodule "sources/bitbake"]
	path = sources/bitbake
	url = https://git.openembedded.org/bitbake
	branch = 2.8
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "sources/oe-core"]
	path = sources/oe-core
	url = https://git.openembedded.org/openembedded-core
	branch = scarthgap
[submodule "sources/meta-yocto"]
	path = sources/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
	branch = scarthgap
[submodule "sources/meta-summit-radio"]
	path = sources/meta-summit-radio
	url = https://github.com/LairdCP/meta-summit-radio.git
[submodule "sources/meta-node-red"]
	path = sources/meta-node-red
	url = https://github.com/ChristophHandschuh/meta-node-red/
[submodule "sources/meta-rauc"]
	path = sources/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = scarthgap
[submodule "sources/meta-browser"]
	path = sources/meta-browser
	url = https://github.com/OSSystems/meta-browser
	branch = scarthgap
[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang
	branch = scarthgap
[submodule "sources/meta-lts-mixin"]
	path = sources/meta-lts-mixin
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = scarthgap/rust
[submodule "sources/meta-wayland"]
	path = sources/meta-wayland
	url = https://codeberg.org/flk/meta-wayland
	branch = scarthgap
[submodule "sources/meta-sysworxx"]
	path = sources/meta-sysworxx
	url = ../meta-sysworxx
