# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2025 SYS TEC electronic AG <https://www.systec-electronic.com/>

[Unit]
Description=Set mode of all analog inputs

[Service]
Type=oneshot
ExecStart=/usr/sbin/adc-setup.sh

[Install]
WantedBy=multi-user.target
