/*
 * Copyright (C) 2023 SYSTEC electronic AG, All Rights Reserved
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "k3-am625.dtsi"
#include "k3-am625-systec-pi-pinmux-0.dtsi"
#include "k3-am625-systec-pi-common.dtsi"

/ {
	model = "SYSTEC sysWORXX Pi";
	compatible = "systec,pi,rev0", "systec,pi", "ti,am625";

	aliases {
		rtc0 = &rtc;
		rtc1 = &wkup_rtc0;
	};
};

// I2C ID
&main_i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2ideepromshield_pins_default>;
	clock-frequency = <400000>;
};

// I2C0_MAIN
&main_i2c0 {
	/* RTC */
	rtc: rv8803@32 {
		clock-frequency = <400000>;
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};
};

&main_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio0_pins_default>;
	gpio-line-names      =
		"GPIO0_0",             "GPIO0_1",                "GPIO0_2",                "GPIO0_3",                 // 0
		"GPIO0_4",             "WLAN_/DISABLE",          "BT_REG_ON",              "GPIO0_7 (SPI1_CS0)",      // 4
		"GPIO0_8 (SPI1_CLK)",  "GPIO0_9 (SPI1_D0)",      "GPIO0_10 (SPI1_D1)",     "LED_BL",                  // 8
		"LED_RD",              "GPIO0_13 (SPI1_CS1)",    "LED_GN",                 "BM0",                     // 12
		"BM1",                 "BM2",                    "BM3",                    "",                        // 16
		"",                    "",                       "",                       "",                        // 20
		"",                    "",                       "",                       "",                        // 24
		"",                    "",                       "",                       "ETH0_/RST",               // 28
		"",                    "GPIO0_33 (MCASP1_AXR1)", "GPIO0_34 (MCASP1_AXR0)", "GPIO0_35 (MCASP1_ACLKX)", // 32
		"USB1_/ID",            "GPIO0_37 (MCASP1_AFSX)", "PWRGD",                  "",                        // 36
		"GPIO0_40",            "GPIO0_41",               "RGMII_/INT",             "I2C2_SCL (GPIO0_43)",     // 40
		"I2C2_SDA (GPIO0_44)", "",                       "",                       "",                        // 44
		"",                    "",                       "",                       "",                        // 48
		"",                    "",                       "",                       "",                        // 52
		"",                    "",                       "",                       "",                        // 56
		"",                    "",                       "",                       "",                        // 60
		"",                    "",                       "",                       "",                        // 64
		"",                    "",                       "",                       "",                        // 68
		"",                    "",                       "",                       "",                        // 72
		"",                    "",                       "",                       "",                        // 76
		"",                    "",                       "",                       "",                        // 80
		"",                    "RGMII_MDC",              "RGMII_MDIO",             "",                        // 84
		"",                    "",                       "",                       "";                        // 88
};

&main_gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio1_pins_default>;
	gpio-line-names =
		"",                    "",                     "",                    "",                    // 0
		"",                    "",                     "",                    "",                    // 4
		"HDMI_/RST",           "GPIO1_9 (PWM1)",       "",                    "",                    // 8
		"",                    "HDMI_/INT",            "VPP_LDO_EN",          "USB1_/OC",            // 12
		"",                    "USB0_/OC",             "USB1_/INT",           "USB1_DFP/UFP",        // 16
		"",                    "",                     "GPIO1_23 (I2C3_SCL)", "GPIO1_22 (I2C3_SDA)", // 20
		"GPIO1_24 (MCAN0_TX)", "(GPIO1_25 (MCAN0_RX)", "",                    "",                    // 24
		"GPIO1_28 (PWM2)",     "",                     "ETH1_/RST",           "",                    // 28
		"",                    "",                     "",                    "",                    // 32
		"",                    "",                     "",                    "",                    // 36
		"",                    "",                     "",                    "",                    // 40
		"",                    "",                     "",                    "",                    // 44
		"",                    "SW_SD-Card",           "USB0_/DRVBUS",        "USB1_/DRVBUS",        // 48
		"",                    "",                     "",                    "",                    // 52
		"",                    "",                     "",                    "",                    // 56
		"",                    "",                     "",                    "",                    // 60
		"",                    "",                     "",                    "",                    // 64
		"",                    "",                     "",                    "GPIO0_71 (UART4_RX)", // 68
		"GPIO0_72 (UART4_TX)", "",                     "",                    "",                    // 72
		"",                    "",                     "",                    "",                    // 76
		"",                    "",                     "",                    "",                    // 80
		"",                    "",                     "",                    "",                    // 84
		"",                    "",                     "",                    "";                    // 88

	usb0-drvvbus-hog {
		gpio-hog;
		gpios = <50 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "USB0_/DRVBUS";
	};

	usb1-drvvbus-hog {
		gpio-hog;
		gpios = <51 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "USB1_/DRVBUS";
	};
};

&mcu_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcugpio1_pins_default>;
	gpio-line-names =
		"",       "",                            "",                            "",       // 0
		"",       "BT_RX",                       "BT_TX",                       "BT_CTS", // 4
		"BT_RTS", "",                            "",                            "",       // 8
		"",       "MCU_GPIO0_13 (MCU_MCAN0_TX)", "MCU_GPIO0_14 (MCU_MCAN0_RX)", "",       // 12
		"",       "DO_0",                        "DO_1",                        "",       // 16
		"",       "",                            "",                            "";       // 20
};
