// SPDX-License-Identifier: GPL-2.0

/**
 * Copyright (C) 2025 SYS TEC electronic AG
 *
 * Basic GPIO device tree overlay
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "k3-pinctrl.h"

&main_pmx0 {
	gpio0_pins_inputs: gpio0-pins-inputs {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0000, PIN_INPUT_PULLDOWN, 7) /* (H24) OSPI0_CLK.GPIO0_0 */
			AM62X_IOPAD(0x0004, PIN_INPUT_PULLDOWN, 7) /* (G25) OSPI0_LBCLKO.GPIO0_1 */
			AM62X_IOPAD(0x0008, PIN_INPUT_PULLDOWN, 7) /* (J24) OSPI0_DQS.GPIO0_2 */
			AM62X_IOPAD(0x000c, PIN_INPUT_PULLDOWN, 7) /* (E25) OSPI0_D0.GPIO0_3 */
			AM62X_IOPAD(0x00b4, PIN_INPUT, 7) /* (K24) GPMC0_CSn3.GPIO0_44 */
		>;
	};

	gpio1_pins_inputs: gpio1-pins-inputs {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01e8, PIN_INPUT_PULLDOWN, 7) /* (B17) I2C1_SCL.GPIO1_28 */
			AM62X_IOPAD(0x019c, PIN_INPUT_PULLDOWN, 7) /* (B18) MCASP0_AXR1.GPIO1_9 */
		>;
	};

	gpio0_pins_outputs: gpio0-pins-outputs {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0090, PIN_INPUT_PULLDOWN, 7) /* (M24) GPMC0_BE0n_CLE.GPIO0_35 */
			AM62X_IOPAD(0x00a4, PIN_INPUT_PULLDOWN, 7) /* (M22) GPMC0_DIR.GPIO0_40 */
			AM62X_IOPAD(0x00b0, PIN_INPUT, 7) /* (K22) GPMC0_CSn2.GPIO0_43 */
			AM62X_IOPAD(0x00a8, PIN_INPUT_PULLDOWN, 7) /* (M21) GPMC0_CSn0.GPIO0_41 */
			AM62X_IOPAD(0x0010, PIN_INPUT_PULLDOWN, 7) /* (G24) OSPI0_D1.GPIO0_4 */
		>;
	};
};

&{/} {
	sysworxx-0-io-inputs {
		pinctrl-names = "default";
		pinctrl-0 = <&gpio0_pins_inputs>, <&gpio1_pins_inputs>;
		compatible = "gpio-keys";

		di@0 { label = "DI0"; linux,code = <KEY_F1>; gpios = <&main_gpio0 0 GPIO_ACTIVE_HIGH>; };
		di@1 { label = "DI1"; linux,code = <KEY_F2>; gpios = <&main_gpio0 1 GPIO_ACTIVE_HIGH>; };
		di@2 { label = "DI2"; linux,code = <KEY_F3>; gpios = <&main_gpio0 2 GPIO_ACTIVE_HIGH>; };
		di@3 { label = "DI3"; linux,code = <KEY_F4>; gpios = <&main_gpio0 3 GPIO_ACTIVE_HIGH>; };
		di@4 { label = "DI4"; linux,code = <KEY_F5>; gpios = <&main_gpio0 44 GPIO_ACTIVE_HIGH>; };
		di@5 { label = "DI5"; linux,code = <KEY_F6>; gpios = <&main_gpio1 28 GPIO_ACTIVE_HIGH>; };
		di@6 { label = "DI6"; linux,code = <KEY_F7>; gpios = <&main_gpio1 9 GPIO_ACTIVE_HIGH>; };
	};

	sysworxx-0-io-outputs {
		pinctrl-names = "default";
		pinctrl-0 = <&gpio0_pins_outputs>;
		compatible = "gpio-aggregator";

		gpios = <&main_gpio0 35 GPIO_ACTIVE_HIGH>,
				<&main_gpio0 40 GPIO_ACTIVE_HIGH>,
				<&main_gpio0 43 GPIO_ACTIVE_HIGH>,
				<&main_gpio0 41 GPIO_ACTIVE_HIGH>,
				<&main_gpio0 4 GPIO_ACTIVE_HIGH>;
		gpio-line-names =	"DO0",
							"DO1",
							"DO2",
							"DO3",
							"DO4";
	};
};
