/*
 * Copyright (C) 2023 SYSTEC electronic AG, All Rights Reserved
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include <dt-bindings/input/input.h>

#include "k3-am625.dtsi"
#include "k3-am623-systec-ctr600-pinmux-0.dtsi"
#include "k3-am623-systec-ctr-common.dtsi"

/ {
	model = "SYSTEC sysWORXX CTR-600";
	compatible = "systec,ctr600,rev0", "systec,ctr600", "ti,am625";

	aliases {
		// serial0 = &mcu_uart0;
		// serial2 = &main_uart0;
		serial4 = &main_uart4;
		serial5 = &main_uart5;
		serial6 = &main_uart6;
		rtc0 = &rtc;
		rtc1 = &wkup_rtc0;
	};
};

// SERIAL0
&main_uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_serial0_pins_default>;
	status = "okay";
	rts-gpios = <&main_gpio1 51 GPIO_ACTIVE_HIGH>;
	sermode-gpio = <&gpio_exp1 0 GPIO_ACTIVE_HIGH>;
	systec,rs485-half-duplex-stop-rx;
};

// SERIAL1 (SERIAL2 on CTR-800)
&main_uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart6_serial1_pins_default>;
	status = "okay";
	rts-gpios = <&main_gpio0 63 GPIO_ACTIVE_HIGH>;
	sermode-gpio = <&gpio_exp1 2 GPIO_ACTIVE_HIGH>;
	systec,rs485-half-duplex-stop-rx;
};

// Backplane / NINA-B112
&main_uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_backplane_pins_default>;
	status = "okay";
	rts-gpios = <&main_gpio0 64 GPIO_ACTIVE_HIGH>;
};

// CAN0
&main_mcan0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcan0_pins_default>;
	status = "okay";
};

// CAN1
&mcu_mcan0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcumcan0_pins_default>;
	status = "disabled"; // only usable via placement option on PCB
};

// I2C3_BOARD
&main_i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3board_pins_default>;
	clock-frequency = <400000>;

	/* RTC */
	rtc: pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};

	/* Temperature sensor */
	tsens: lm75b@48 {
		compatible = "national,lm75";
		reg = <0x48>;
	};

	/* I/O expander for RS232/485 switching and DI filter configuration */
	gpio_exp1: pca9554@39 {
		compatible = "nxp,pca9554";
		reg = <0x39>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =
			"SER0_MODE", "", "SER1_MODE", "",
			"",          "", "",          "";
	};

	/* I/O expander for diagnose */
	gpio_exp3: pca9554@3a {
		compatible = "nxp,pca9554";
		reg = <0x3a>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =
			"", "DO_DIAG", "/DI_ERR", "USB1_OC",
			"",       "",        "",        "";
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
	};
};

&main_spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_default>;
	#address-cells = <1>;
	#size-cells = <0>;
	cs-gpios = <&main_gpio0 7 GPIO_ACTIVE_LOW>;

	// spidev@0 {
	// 	spi-max-frequency = <1000000>;
	// 	reg = <0>;
	// };
};

&epwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1do2_pins_default>;
	status = "okay";
};

&epwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm2do3_pins_default>;
	status = "okay";
};

&eqep1 {
	pinctrl-names = "default";
	pinctrl-0 = <&eqep0di2di3_pins_default>;
	status = "okay";
};

&main_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio0_pins_default>;
	gpio-line-names      =
		"/COM_DIAG_INT", "",         "",        "",              // 0
		"",              "LED_RUN",  "LED_ERR", "SPI2_SS",       // 4
		"",              "",         "",        "RUN_SW",        // 8
		"/BOOT",         "",         "",        "",              // 12
		"",              "",         "",        "DO_0",          // 16
		"DO_1",          "",         "",        "",              // 20
		"",              "",         "",        "",              // 24
		"",              "",         "",        "",              // 28
		"",              "",         "",        "",              // 32
		"",              "",         "",        "",              // 36
		"",              "",         "",        "/PF",           // 40
		"",              "DI_0",     "DI_1",    "DI_2",          // 44
		"DI_3",          "SER0_RX",  "SER0_TX", "",              // 48
		"",              "SER1_RX",  "SER1_TX", "",              // 52
		"",              "",         "",        "",              // 56
		"",              "",         "/CONFIG", "SER1_DEN",      // 60
		"",              "",         "",        "",              // 64
		"",              "",         "",        "WLAN_/DISABLE", // 68
		"BT_REG_ON",     "",         "",        "",              // 72
		"",              "",         "",        "",              // 76
		"",              "",         "",        "",              // 80
		"",              "ETH_MDIO", "ETH_MDC", "",              // 84
		"",              "",         "",        "";              // 88
};

&main_gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio1_pins_default>;
	gpio-line-names =
		"",            "",           "",               "",               // 0
		"",            "",           "",               "",               // 4
		"",            "DO_2_PWM",   "eMMC_/RST",      "DI_2_PHA_A",     // 8
		"DI_3_PHA_B",  "",           "",               "ETH0_/RST",      // 12
		"",            "SPI0_SCLK",  "SPI0_MOSI",      "SPI0_MISO",      // 16
		"SERVICE_RX",  "SERVICE_TX", "I2C3_BOARD_SCL", "I2C3_BOARD_SDA", // 20
		"MCAN0_TX",    "MCAN0_RX",   "I2C0_SOM_SCL",   "I2C0_SOM_SDA",   // 24
		"DO_3_PWM",    "ETH1_/RST",  "",               "",               // 28
		"",            "",           "",               "",               // 32
		"",            "",           "",               "",               // 36
		"",            "",           "",               "",               // 40
		"",            "",           "",               "",               // 44
		"",            "",           "USB0_DRVVBUS",   "USB1_DRVVBUS",   // 48
		"",            "",           "",               "",               // 52
		"",            "",           "",               "",               // 56
		"",            "",           "",               "",               // 60
		"",            "",           "",               "",               // 64
		"",            "",           "",               "",               // 68
		"",            "",           "",               "",               // 72
		"",            "",           "",               "",               // 76
		"",            "",           "",               "",               // 80
		"",            "",           "",               "",               // 84
		"",            "",           "",               "";               // 88
};

&mcu_gpio0 {
	pinctrl-names = "default";
	gpio-line-names =
		"",       "",             "",             "",       // 0
		"",       "BT_RX",        "BT_TX",        "BT_CTS", // 4
		"BT_RTS", "",             "",             "",       // 8
		"",       "MCU_MCAN0_TX", "MCU_MCAN0_RX", "",       // 12
		"",       "",             "",             "",       // 16
		"",       "",             "",             "";       // 20
};

/ {
	gpio_input {
		compatible = "gpio-keys";
		status = "okay";

		di@0 { label = "Digital In 0"; linux,code = <KEY_F1>; gpios = <&main_gpio0 45 GPIO_ACTIVE_HIGH>; };
		di@1 { label = "Digital In 1"; linux,code = <KEY_F2>; gpios = <&main_gpio0 46 GPIO_ACTIVE_HIGH>; };
		di@2 { label = "Digital In 2"; linux,code = <KEY_F3>; gpios = <&main_gpio0 47 GPIO_ACTIVE_HIGH>; };
		di@3 { label = "Digital In 3"; linux,code = <KEY_F4>; gpios = <&main_gpio0 48 GPIO_ACTIVE_HIGH>; };
		runstop { label = "Run-Stop";  linux,code = <KEY_1>;  gpios = <&main_gpio0 11 GPIO_ACTIVE_HIGH>; };
	};
};
