# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2025 SYS TEC electronic AG <https://www.systec-electronic.com/>

[Unit]
Description=Setup status of lan8830t leds
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
ExecStart=sleep 3
ExecStart=phytool write eth0/0x1/25 0x1F04
ExecStart=phytool write eth1/0x3/25 0x1F04

[Install]
WantedBy=multi-user.target
